.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}


#barInit:focus+#bar {
    display: flex;
}

.label-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

label .input-checkbox {
    margin: 0;
    padding: 5px;
}

label p {
    margin: 0;
    padding: 5px;
}

.button-content{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 4px;
}